.container{
    height: 100%;
    width: 23%;
    background-color: #FFFFFF;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 4px 8vh 12px 0px #9b9b9b;
}

@media (max-width: 1350px) {
    .container{
        width: 10%;
    }
}
@media (max-width: 650px) {
     .container{
        width: 15%;
    }
}
