html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: -100;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: #707070 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

select {
  font-family: inherit;
  background-color: transparent;
  border: 1px solid;
  border-radius: 6px;
  padding: 0.15rem;
  margin: 0;
  width: 4rem;
}

select option {
  color: black;
}

@media (max-width: 650px) {
  select {
    margin-right: 0.5rem;
  }
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.graphContainer{
  height: 92vh;
  width: 100%;
  overflow-y: scroll;
}
